dist*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
static/tmp/
static/combined/
config/client_session_key.aes
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
*.sqlite3
*.sqlite3-shm
*.sqlite3-wal
.hsenv*
cabal-dev/
.stack-work-devel/
yesod-devel/
*.keter
*~
\#*

# Ignore updo files
.updo
updo
project-nix
project-versions.nix

# Don't ignore Updo makefiles and generated projects.
!stack.yaml
!stack.yaml.lock
!cabal.project
!cabal.upgrade.project
!stack.upgrade.yaml
!stack.upgrade.yaml.lock
!project-files.mk
!project-versions.mk

node_modules
